<div class="container">
  <h1>Result</h1>
  <% if @result[:english?] && @result[:grid?] %>
    <p><strong>Congratulations!</strong> <%= params[:word] %> is a valid word!</p>
  <% else %>
    <% if !@result[:grid?]%>
      <p>Sorry but <strong><%= params[:word] %></strong> can't be build out of
        <% @grid[0..-2].each do |letter| %>
          <%= letter %>,
        <% end %>
      <%=  @grid[-1] %></p>
    <% end %>
    <% if ! @result[:english?]%>
      <p>Sorry but <strong><%= params[:word] %></strong> is not an English word...</p>
    <% end %>
  <% end %>
  <%= link_to "Play again", new_path %>
</div>
